<form accept-charset="UTF-8" class="form-inline" id="new-todo" >
  <legend>Todos</legend>
  <input class="input-block-level" id="title" name="title" placeholder="What needs to be done?" size="30" type="text">
</form>