<td class="width_14">
  <% if (todo.done) { %>
    <input class="done_state" name="task" type="checkbox" checked="checked">
  <% } else { %>
    <input class="done_state" name="task" type="checkbox">
  <% } %>

</td>
<td><%= todo.title %></td>
<td class="width_14 importance">
  <% if (todo.important) { %>
    <i class="icon-star"></i>
  <% } else { %>
    <i class="icon-star-empty"></i>
  <% } %>
</td>
