<%= form_for @todo, html: {class: 'form-inline'}, remote: true do |f| %>
    <legend>Todos</legend>
    <%= f.text_field :title, required: true, class: 'input-xxlarge', placeholder: 'What needs to be done?' %>
    <label class="checkbox">
      <%= f.check_box :important %>
      Important
    </label>
    <%= button_tag 'Create', type: 'submit', id: 'submit_btn', class: 'btn btn-small margin_20' %>
<% end %>
