<div id="todos_form"></div>
<div id="todos_table"></div>

<script type="text/javascript">
    $(function() {
        // Blog is the app name
        window.router = new TodoServer.Routers.TodosRouter({todos: <%= @todos.to_json.html_safe -%>});
        Backbone.history.start();
    });
</script>