<div class="new_title"></div>
<table class="table table-hover" id="todos_table"></table>
<div class="clear_complete"></div>

<script type="text/javascript">
    $(function () {
        window.router = new TodoServer.Routers.TodosRouter();
        Backbone.history.start();
    });
</script>