/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui-1.10.3.custom
 *= require bootstrap
 *= require bootstrap-responsive.min
 *= require_self
 *= require_tree .
 */

.width_75 {
    width: 75px;
}

.width_14 {
    width: 14px;
}

td.importance:hover {
    cursor: pointer;
}

#clear_complete_btn {
    margin: 30px 0 30px !important;
}

div.footer {
    margin-top: 30px !important;
}

.margin_20 {
    margin: 20px;
}